*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  background: #ffffff;
  font-family: 'roboto', sans-serif;
  height: 100%;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 1.2vw;
}

.toggle-btn {
  cursor: pointer;
  /* height: 40px; */
  /* width: 40px; */
  padding-right: 1px;
  padding-top: 1px;
  
}

.menu {
  background:#ffffff;
  border: solid 1px #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}

.menu:hover {
  background:#f1f1f1;
  border: solid 1px #f1f1f1;
}

.yt-logo {
  height: 20px;
  margin: 10px 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-section {
  position: relative;
  max-width: 715px;
  width: 50%;
  height: 40px;
  display: flex;
  margin-left: 125px;
}

.search-bar {
  width: 95%;
  height: 100%;
  border: 1px solid #dbdbdb;
  padding: 0 20px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 25px 0 0 25px;
}

.search-btn {
  width: 12%;
  height: 100%;
  background: #f7f7f7;
  border: 1px solid #dbdbdb;
  padding: 5px 0;
  border-left: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.search-btn:hover{
  background: #ededed;
}

.voice-search {
  height: 40px;
  padding-top: 1px;
  padding-left: 17px;
}

.voice-btn {
  background: #f1f1f1;
  border: solid 1px #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}


.options {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.settings-btn {
  padding-right: 10px;
}

.settings {
  border: 0px;
  background: none;
  cursor: pointer;
}

.sign-in-btn {
  background: none;
  border: solid #e4e4e4 1px;
  border-radius: 20px;
  height: 40px;
  width: 95px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.sign-in-btn:hover {
  border: none;
}

.Sign-in {
  display: flex;
  height: 40px;
  padding-top: 5px;
}

.profile-icon {
  padding-right: 3px;
  padding-left: 2px;
  padding-top: 1px;
}

.sign-in-label {
  padding-left: 4px;
  padding-top: 3px;;
  font-size: 14.5px;
}

.side-bar {
  width: 70px;
  height: 100%;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  margin-top: 55px;
  padding-block-start: 20px;
}

.contents {
  margin-top: 2px;
}

.contents li {
  text-align: center;
  height: 70px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 7px;
  list-style-type: none;
}

.contents li:hover {
  background:#ededed;
}

.contents a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.contents span {
  font-size: 10px;
}

.filter-bar {
  position: fixed;
  left: 70px;
  top: 55px;
  width: 100%;
  height: 58px;
  background: #ffffff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filter-bar::-webkit-scrollbar{
  display: none;
}

.filter-options, .filter-active {
  flex: 0 0 auto;
  padding: 7px 14px;
  border-radius: 7px;
  /* background: #f1f1f1; */
  border: none;
  margin-right: 13px;
  font-size: 14px;
  cursor: pointer;
  
}

.filter-active {
  color: #ffffff;
  background: #000000;
}

.video-container {
  /* background: #000000; */
  width: calc(100% - 70px);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px 5px;
  overflow-x: hidden;
  margin-top: 113px;
  margin-left: 70px;
}

.videos {
  min-height: 300px;
  height: 285px;
  width: 369px;
  margin: 25px 0 0 25px;
  /* background: #000000; */
}

.demo-pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  width: 100%;
  height: calc(285px- 205px);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  /* background: red; */

}

.demo-icon {
 width: 40px;
 height: 40px;
 border-radius: 50%;
 /* margin-right: 7px; */
}

.title {
  width: 110%;
  height: 23px;
  overflow: hidden;
  /* background: #dbdbdb; */
}

.account-name {
  font-size: 14px;
  margin: 2px 0;
  color: #5c5c5c;
}

.views {
  font-size: 14px;
  margin: 2px 0;
  color: #5c5c5c;
}

.information {
  padding-right: 100px;
  /* width: 100%; */
  /* background: red; */
  /* margin-left: 15px; */
}